<p>チャットルームページ</p>

<div id='chat-messages'>
  <%= render partial: "chat_messages/chat_message", collection: @chat_messages %>
</div>

<form>
  <input type="text" id="test" data-behavior="chat_room_speaker" data-chat_room_id="<%= @chat_room.id %>" placeholder="メッセージを入力" class="chat-room_message-form_textarea">
</form>